body.wt_mailjet_body_hide_overflow {
  width: 100% !important;
  height: 100vh !important;
  overflow: hidden !important;
}

#wt_mailjet_iframe_container {
  position: relative;
  width: 100%;
  height: 800px;
  transition: all 1s linear;
  padding-top: 50px;
  background-color: white;
}

#wt_mailjet_iframe_container.force_fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

#wt_mailjet_fullscreen_button {
  position: absolute;
  top: 25px;
  right: 1em;
  transform: translateY(-50%);
}

#wt_mailjet_iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
