#toolbar-administration .toolbar-bar .toolbar-icon-link-toolbar-menu-wt-mailjet-editor-link:before {
  background-image: url(/modules/contrib/wt_svgicons/svg/fa/white/at.svg);
  min-height: 1.25em !important;
}
